<div class="card">
    <div class="card__container">
        <div class="card__image">
            <!-- https://unsplash.com/photos/black-ballpoint-pen-on-white-ruled-paper-sheet-vD9Gb_H7RR8 -->
            <img src="/assets/images/notes.jpg" alt="Notepad filled with handwritten notes">
        </div>
    </div>
    <div class="ml-3 mr-3">
        <p class="title">{{title}}</br>
        Posted on {{format_date published_date}}</br>
        <a href="/post/{{id}}">Update</a> / 
        <a href="/post/{{id}}">Delete</a></p>
        <p class="mh-250px u-overflow-y-auto">{{body}}</p>
    </div>
</div>