<section class="grid grid-cols-1 w-50p">
    <div class="content mb-3">
        <h2 class="u-center">Your Current Post</h2>
    </div>
    <article class="card">
        <div class="ml-3 mr-3">
            <p class="title bottom-border">{{post.title}}</br>
            Posted on {{format_date post.published_date}}</p>
            <p class="smaller-text">{{post.body}}</p>
        </div>
    </article>
    <div class="card">
        <div class="edit-post-form m-3">
            <form>
                <h3>Edit Post</h3>
                <div class="mb-1">
                    <label class="font-bold" for="post-title">Title</label>
                    <div class="section-body">
                        <div class="form-group">
                            <input type="text" class="form-group-input" id="post-title" placeholder="{{post.title}}" />
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <label class="font-bold" for="post-body">Body</label>
                    <textarea id="post-body" placeholder="{{post.body}}"></textarea>
                </div>
                <div class="u-flex u-justify-space-between">
                    <button class="form-group-btn btn-success text-md" type="submit">Update</button>
                    <button class="form-group-btn btn-danger text-md" type="button" id="delete-btn">Delete</button>
                </div>
            </form>
        </div>
    </div>
</section>

{{#if loggedIn}}
<script src="/js/edit-post.js"></script>
{{/if}}