<section class="grid grid-cols-1 w-50p">
    <article class="card">
        <div class="card__container">
            <div class="card__image">
                <!-- https://unsplash.com/photos/black-ballpoint-pen-on-white-ruled-paper-sheet-vD9Gb_H7RR8 -->
                <img src="/assets/images/notes.jpg" alt="Notepad filled with handwritten notes">
            </div>
            <div class="card__title-container">
                <p class="title">{{post.title}}</p>
                <span class="subtitle">Posted by {{post.user.username}} on {{format_date post.published_date}}</span>
            </div>
        </div>
        <div class="mt-3 ml-3 mr-3">
            <div class="content">
                <p class="smaller-text">{{post.body}}</p>
            </div>
        </div>
    </article>
    <article class="comments card">
        <div class="ml-3 mr-3 mb-3">
            <p class="title bottom-border">Comments</p>
            {{#if comments}}
            <ul class="no-bullets">
                {{#each comments}}
                <li>
                    <p class="smaller-text">{{body}}</br>
                    - {{user.username}} on {{format_date published_date}}</p>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p class="smaller-text u-text-center">There are no comments for this post.</br>
                {{#if loggedIn}}
                Create a comment using the button below!</p>
                {{else}}
                Please <a href="/login">login</a> to post a comment!</p>
                {{/if}}
            {{/if}}
        </div>
        {{#if loggedIn}}
        <div class="card__action-bar u-center">
            <button class="u-center btn-link text-md" id="new-comment-btn" type="button">New Comment</button>
        </div>
        {{/if}}
    </article>
    {{!-- This div will be hidden until user clicks on post comment button --}}
    <div class="card">
        <div class="create-comment-form m-3 u-none">
            <form>
                <h3>Post New Comment</h3>
                <div class="mb-1">
                    <textarea id="comment-body" placeholder="Write your comment here"></textarea>
                </div>
                <div class="u-flex u-justify-space-between">
                    <button class="form-group-btn btn-success text-md" type="submit">Post Comment</button>
                    <button class="form-group-btn btn-danger text-md" id="cancel-btn" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>

{{#if loggedIn}}
<script src="/js/create-comment.js"></script>
{{/if}}